In [ ]:
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}

In [7]:
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2015, 'cost': 85000}

In [8]:
x = dict1["model"]

In [9]:
x

'Pulsar'

In [13]:
x = dict1.get("Brand")

In [14]:
x

'Bajaj'

In [15]:
dict1["year"] = 2018

In [16]:
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2018, 'cost': 85000}

In [18]:
x = list(dict1.keys())

In [19]:
x

['Brand', 'model', 'year', 'cost']

In [20]:
val = list(dict1.values())

In [21]:
val

['Bajaj', 'Pulsar', 2018, 85000]

In [22]:
dict1["colour"] = "Black"

In [23]:
dict1

{'Brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'colour': 'Black'}

In [24]:
rem = dict1.pop("colour")

In [25]:
rem

'Black'

In [26]:
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2018, 'cost': 85000}

In [31]:
del dict1['year']

In [32]:
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'cost': 85000}

In [33]:
dict1['year'] = 2018

In [34]:
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'cost': 85000, 'year': 2018}

In [35]:
child1 = {
  "name" : "John",
  "year" : 1995
}

In [36]:
child2 = {
  "name" : "Sammy",
  "year" : 2001
}

In [37]:
myfamily = {
  "child1" : child1,
  "child2" : child2
}

In [38]:
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [39]:
myfamily = {
  "child1" : {
    "name" : "John",
    "year" : 1995,
    "hobbies":["Music","Cricket","TV"]
  },
  "child2" : {
    "name" : "Sammy",
    "year" : 2001
  }
}

In [40]:
myfamily

{'child1': {'name': 'John',
  'year': 1995,
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [41]:
myfamily["child1"]["hobbies"][2]

'TV'

In [42]:
myfamily["child1"]["hobbies"][1:]

['Cricket', 'TV']

In [43]:
myfamily["child1"]["hobbies"][:-1]

['Music', 'Cricket']

In [44]:
myfamily["child1"]["hobbies"][::-1]

['TV', 'Cricket', 'Music']

In [49]:
myfamily["child1"]["hobbies"][0:3:2]

['Music', 'TV']

In [50]:
#task 5 
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [64]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [54]:
dict1["april_batch"]["student"]["name"] = "Sanket"

In [55]:
dict1

{'april_batch': {'student': {'name': 'Sanket',
   'marks': {'python': 80, 'maths': 70}}}}

In [62]:
dict1["april_batch"]["student"]["name"]

'Sanket'

In [65]:
dict1["april_batch"]["student"]["marks"]["ML"] = 80

In [66]:
dict1["april_batch"]["student"]["marks"]["DL"] = 80

In [67]:
dict1

{'april_batch': {'student': {'name': 'Sanket',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}