In [11]:
tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")

In [2]:
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [3]:
tup2 = (1,2,3,4,5,1,1)

In [4]:
tup2

(1, 2, 3, 4, 5, 1, 1)

In [5]:
type(tup1)

tuple

In [6]:
len(tup2)

7

In [9]:
tup3=("Coding")

In [10]:
tup3

'Coding'

In [12]:
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [13]:
tup1[-5]

5.5

In [14]:
tup1[6]

False

In [15]:
tup1[2::3]

(3, True, 'Python')

In [17]:
tup1[::-1]

('Python', 'Maths', False, True, 5.5, 4.4, 3, 2, 1)

In [18]:
tup1 = (1,2,3,4,5)

In [19]:
tup1[5] = 6

TypeError: 'tuple' object does not support item assignment

In [20]:
rem = tup1.pop[2]

AttributeError: 'tuple' object has no attribute 'pop'

In [21]:
tup1

(1, 2, 3, 4, 5)

In [22]:
list1=list(tup1)

In [23]:
list1

[1, 2, 3, 4, 5]

In [24]:
list1[0] = 100

In [25]:
list1

[100, 2, 3, 4, 5]

In [27]:
tup1 = tuple(list1)

In [28]:
tup1

(100, 2, 3, 4, 5)

In [29]:
print(100 in tup1)

True

In [30]:
print(8 in tup1)

False

In [31]:
tup1 = (1,2,3,4)

In [32]:
tup2 = ("a","b","C","d")

In [33]:
tup3 = tup1+tup2

In [34]:
tup3

(1, 2, 3, 4, 'a', 'b', 'C', 'd')

In [51]:
tup = (1,2,3,4,1,1,2,1,2,3,6)

In [36]:
tup.count(1)

4

In [37]:
tup.count(2)

3

In [38]:
tup.index(3)

2

In [39]:
tup.index(7)

ValueError: tuple.index(x): x not in tuple

In [40]:
tup.index(4)

3

In [41]:
tup.index(6)

10

In [52]:
tup # TASK 6

(1, 2, 3, 4, 1, 1, 2, 1, 2, 3, 6)

In [44]:
list1 = list(tup)

In [45]:
list1

[1, 2, 3, 4, 1, 1, 2, 1, 2, 3, 6]

In [46]:
list1.pop(4) #poped out 1

1

In [47]:
list1

[1, 2, 3, 4, 1, 2, 1, 2, 3, 6]

In [49]:
tup1=tuple(list1)

In [53]:
tup1

(1, 2, 3, 4, 1, 2, 1, 2, 3, 6)

In [54]:
list2 = list(tup1)

In [55]:
list2

[1, 2, 3, 4, 1, 2, 1, 2, 3, 6]

In [56]:
list2.insert(4,1)

In [57]:
list2

[1, 2, 3, 4, 1, 1, 2, 1, 2, 3, 6]

In [58]:
tup2 = tuple(list2)

In [59]:
tup2

(1, 2, 3, 4, 1, 1, 2, 1, 2, 3, 6)

In [61]:
len(tup)    # original

11

In [62]:
len(tup1)   # subtracted

10

In [63]:
len(tup2)   # Added

11